<% include ../partials/header %>

<%- include('../partials/navbar', {isLoggedIn: isLoggedIn, user: user}); %>

<p>Edit User Profile</p>

<form class="ui form" action="/users/<%= user._id %>?_method=PUT" method="POST">
	<div class="field">
		<label>Username</label>
		<input type="text" name="user[username]" value="<%= user.username %>">
	</div>

	<div class="field">
		<label>Email</label>
		<input type="text" name="user[email]" value="<%= user.email %>">		
	</div>

	<div class="field">
		<label>Avatar</label>
		<input type="text" name="user[avatar]" value="<%= user.avatar %>">
	</div>

	<div class="field">
		<label>Personal Bio</label>
		<textarea name="user[bio]"><%= user.bio %></textarea>
	</div>
	<input class="ui submit button" type="submit">
</form>


<% include ../partials/footer %>