<% include ../partials/header %>

<div class="ui stackable grid">
	<div class="six wide column">
		<div id="profile-avatar" class="ui segment">
			<img class="ui centered image" src="<%= currentUser.avatar %>">
			<div class="content">
				<h3 class="ui dividing header">
				  <%= currentUser.username %>
				</h3>
				<div>
					<small>Email: <a href="mailto:<%= currentUser.email %>"><%= currentUser.email %></a></small>
					<small class="float-right sub header"><strong>Member Since: </strong><%= currentUser.date_joined.toDateString() %></small>
				</div>
				<div id="bio">
					<p><%= currentUser.bio %></p>					
				</div>
			</div>
		</div>

		<div>
			<a href="/user/<%= currentUser._id %>/edit" class="ui right floated basic purple button">Edit Profile</a>
			<form action="/user/<%= currentUser._id %>?_method=DELETE" method="POST">
				<button class="ui left floated basic negative button">Delete Profile</button>
			</form>
		</div>

	</div>
	<div class="ten wide column">
		<a id="new-book-btn" class="ui positive basic button" href="/books/new">Post New Book</a>
		<!-- BOOKS CREATED BY USER WILL GO HERE -->
		<% books.forEach((book) => { %>
			<p><%= book.title %></p>
		<% }) %>
	</div>
</div>

<% include ../partials/footer %>