<% include ../partials/header %>

<div class="ui stackable grid">
	<div class="row">

		<div class="twelve wide column">
			<div class="item">
				
				<img id="book-profile-image" class="ui medium left floated image" src="<%= book.image %>">
				
				<div class="content">
					<h2 href="/books/<%= book._id %>" id="book-title-block" class="ui header">
						<%= book.title %>
						<div class="sub header">By <%= book.author %></div>
					</h2>

					<div class="ui rating float-right" data-rating="<%= book.rating %>"></div>
			

					<div class="description">
				        <p><%= book.description %></p>
				    </div>

				</div>
			</div>
		</div>

		<div class="four wide column">
			<h3 id="comment-header" class="ui dividing header">Posted By</h3>
			<!-- details of user who posted book -->
			<a href="/user/<%= book.owner.id %>/profile">
				<div class="ui segment">
					<div class="content">
						<h3 class="ui centered header">
						  <%= book.owner.username %>
						</h3>
					</div>
				</div>
			</a>



			<h3 id="comment-header" class="ui dividing header">Comments</h3>

			<!-- Form to create new comment -->
			<form action="<%= book._id %>/comments" method="POST" id="comment-form" class="ui reply form">
			    <div class="field">
			    	<textarea name="comment[content]"></textarea>
			    </div>
			    <button class="ui primary submit button">
			      	Add Comment
			    </button>
		  	</form>

		  	<!-- Display comments for book -->
			<div class="ui comments">
				<% book.comments.forEach((comment) => { %>
					<div class="comment">
					    <div id="comment_content" class="content">
					    	<a href="/user/<%= comment.author.id %>/profile" class="author"><%= comment.author.username %></a>

							<div class="metadata">
						    	<div class="date"><%= comment.date_added.toDateString() %></div>
						    </div>

							<div class="text">
					        	<%= comment.content %>
					      	</div>
					    </div>

					</div>
				<% }) %>
			</div>

		</div>
	</div>

	<!-- The current user is the same user who posted this book, they have the ability to edit/delete book post -->
	<% if (currentUser && currentUser._id.equals(book.owner.id)) { %>
		<div class="row">

			<div class="four wide column">
				<a href="/books/<%= book._id %>/edit" class="ui basic left floated button">Edit Post</a>
				<form action="/books/<%= book._id%>?_method=DELETE" method="POST">
					<button class="ui button">Delete Post</button>
				</form>
			</div>

		</div>
	<% } %>

</div>



<% include ../partials/footer %>